<div class=" w-full ">
    <div class="flex justify-between items-center ">
        <div class="p-1">
            <div class="title">
                <h1 class="text-sm"> Citas /</h1>
                <h1 class="mt-4 font-semibold text-xl">Citas</h1>
                <span class="text-xs">Gestiona las citas de tus clientes</span>
            </div>
        </div>
        <div class="p-1 mt-8">
            <form class="flex items-center">
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <input type="text" id="simple-search"
                        class="!bg-white !border !border-gray-100 px-20 text-gray-900 text-sm rounded-full focus:ring-gray-200 !focus:border-gray-200 block w-full pl-10 p-2.5  dark:bg-gray-700 !dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="¿Qué estás buscando?" required>
                </div>
                <button 
                    class=" cursor-pointer py-1 px-2 ml-2 text-sm font-medium text-gray-500 !bg-white rounded-full border border-gray-200 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <span class="material-symbols-outlined">
                        tune
                    </span>
                </button>
                <button 
                    class=" cursor-pointer py-1.75  ml-2 px-10 text-sm font-medium text-white bg-red-600 rounded-full  hover:bg-red-600 ">
                    Nueva
                </button>
            </form>
        </div>
    </div>