<!-- Container principal con padding y altura completa -->
<div class=" w-full  2xl:px-7 xl:px-3 lg:px-3 md:px-3  px-2 py-5">
    <div class="">
        <div class="p-1">
            <div class="title">
                <h1 class="text-sm"> Menu /</h1>
                <h1 class="mt-4 font-semibold text-xl">AgendaSof Dashboard</h1>
                <span class="text-xs">Bienvenido Richard Chimbo</span>
            </div>
        </div>

        <!-- Grid principal ocupando todo el ancho disponible -->
        <div class="grid grid-cols-10 gap-3 mt-5 h-full">

            <!-- Columna izquierda - 2 columnas -->
            <div class=" 2xl:col-span-2 xl:col-span-3 lg:col-span-4 md:col-span-10 col-span-10 ">

                <div
                    class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:col-span-1 md:grid-cols-2 md:space-x-2 space-y-4 h-full ">

                    <div class="col-span-1  bg-white  rounded-xl shadow-md  ">

                        <h1 class="mx-5 mt-3.5 !mb-5 text-md  font-semibold text-gray-700 ">Calendario de citas</h1>
                        <div class="flex justify-center ">
                            <app-calendar (dateSelect)="detectDate($event)"></app-calendar>
                        </div>

                    </div>

                    <div class="col-span-1   bg-white  rounded-xl shadow-md ">

                        <div class="mx-5 mt-4 flex justify-start ">
                            <span class="material-symbols-outlined mr-1 text-gray-600  !text-md">
                                calendar_clock
                            </span>
                            <h1 class=" text-md  font-semibold text-gray-700 ">
                                Próxima cita
                            </h1>
                        </div>
                        <p class="text-xs text-gray-600 ml-5 mt-1 ">Tu proxima cita es en 10 minutos</p>
                        <div class="flex justify-start items-center  mx-4 my-4 ">
                            <span class="p-2 bg-purple-100 text-purple-500 font-medium  rounded-full mr-2  ">RC</span>
                            <h1 class="text-gray-700 font-medium  text-sm ">Richard Chimbo</h1>
                        </div>

                        <div class="grid-cols-1 space-y-2 mx-4 ">
                            <div class="col-span-1">
                                <div class="flex justify-start items-center   ">
                                    <span class="material-symbols-outlined text-gray-500 font-medium  text-xs ">
                                        digital_wellbeing
                                    </span>
                                    <h1 class="text-gray-500 font-medium  text-xs   ml-2">Nutrición</h1>
                                </div>
                            </div>
                            <div class="col-span-1">
                                <div class="flex justify-start items-center  ">
                                    <span class="material-symbols-outlined text-gray-500 font-medium  text-xs ">
                                        person
                                    </span>
                                    <h1 class="text-gray-500 font-medium  text-xs  ml-2 ">Dr. Miguel Lituma</h1>
                                </div>
                            </div>
                            <div class="col-span-1">
                                <div class="grid grid-cols-2 ">
                                    <div class="col-span-1">
                                        <div class="flex justify-start items-center">
                                            <span class="material-symbols-outlined text-gray-500 font-medium  text-xs ">
                                                calendar_today
                                            </span>
                                            <h1 class="text-gray-500 font-medium  text-xs ml-2 ">2025/08/05</h1>
                                        </div>
                                    </div>
                                    <div class="col-span-1">
                                        <div class="flex justify-start items-center">
                                            <span class="material-symbols-outlined text-gray-500 font-medium  text-xs">
                                                schedule
                                            </span>
                                            <h1 class="text-gray-500 font-medium  text-xs  ml-2 ">11:00 - 12:00</h1>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="flex justify-start items-center  mx-4 mt-4 mb-20 ">
                            <span
                                class="px-5 py-1  bg-cyan-100 text-blue-700 text-xs  rounded-full mr-2  ">Confirmada</span>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Columna central - 6 columnas -->
            <div class="2xl:col-span-6  xl:col-span-5 lg:col-span-6 md:col-span-10 col-span-10">
                <div class="card w-full bg-white h-full  rounded-lg  shadow-md ">

                <app-big-calendar-component (sendCitas)="getCitas($event)"
                        [dateSelected]="dateSelected">
                    </app-big-calendar-component>
                </div>

            </div>

            <!-- Columna derecha - 2 columnas -->
            <div class="2xl:col-span-2 xl:col-span-3 lg:col-span-4 md:col-span-10 col-span-10">
                <div class="grid grid-cols-1 h-full ">
                    <div class="card  rounded-lg shadow-lg bg-white ">
                        <h1 class="p-3 ml-2 text-red-500 font-medium text-md ">
                            Citas
                        </h1>
                        <hr class="text-gray-200 mb-2">
                        @if(citasByDay.length==0){

                        <div class="flex justify-center  pt-25">
                            <img class="" src="assets/img/illustration_empty_state_appointment.svg" alt="">
                        </div>
                        <div class="flex justify-center   pb-25">
                            <p class="p-2 text-xs text-gray-600   ">Selecciona una fecha y revisa todas las citas del
                                día.</p>
                        </div>
                        }@else {


                        <!-- Card de Cita Médica -->
                        @for(cd of citasByDay; track cd){
                        <div class="px-2 py-1">
                            <div
                                class="mx-2 w-full mx-auto bg-white rounded-lg  border-b border-gray-200  hover:shadow-md transition-shadow duration-200">
                                <div class="p-3.5 ">
                                    <!-- Información del profesional -->
                                    <div class="  space-x-3">

                                        <!-- Datos del profesional -->
                                        <div class="flex justify-start items-center">
                                            <div [style.background-color]="getRandomColor(nameAvatar(cd.professional?.name)).backgroundColor"
                                                [style.color]="getRandomColor(nameAvatar(cd.professional?.name)).color"
                                                class="w-6 h-6 bg-blue-50 text-blue-600 rounded-full flex items-center justify-center">
                                                <span
                                                    class=" font-bold text-xs">{{nameAvatar(cd.professional?.name)}}</span>
                                            </div>
                                            <h5 class=" ml-1.5 text-sm font-semibold text-gray-700">
                                                {{cd.professional?.name}}
                                            </h5>
                                        </div>

                                        <div class="flex items-center text-xs text-gray-500 mt-1">
                                            <i class="ri-service-line mr-1.5"></i>
                                            {{cd.specialty}}
                                        </div>

                                        <div class="flex justify-between items-center">
                                            <!-- Lado izquierdo - Horario -->
                                            <div class="flex items-center text-xs text-gray-500">
                                                <i class="ri-time-line mr-1.5"></i>
                                                07:00 - 07:30
                                            </div>

                                            <!-- Lado derecho - Estado -->
                                            <div class="flex !justify-end  ">
                                                <!-- Badge de estado -->
                                                <span
                                                    class="inline-flex items-center px-3 py-1 rounded-full text-xs font-normal"
                                                    [ngClass]="getStatusClass(cd.status)">
                                                    {{cd.statusText}}
                                                </span>

                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>

                        }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>