<div class=" w-full px-4 py-2 ">
    <div class="flex justify-between items-center ">
        <div class="p-1">
            <div class="title">
                <h1 class="text-sm"> Configuración / <span class="font-medium"> Disponibilidad </span>
                </h1>
                <h1 class="mt-5 font-semibold text-xl"> Disponibilidad del negocio </h1>
                <span class="text-xs">Vista previa del calendario de reservas. </span>
            </div>
        </div>
    </div>

    <div class="flex justify-between ">
        
        <div class="flex justify-start gap-2">
            <div class="relative">
                <div class="absolute inset-y-0 left-0  flex items-center px-3 pointer-events-none">
                    <span class="material-symbols-outlined text-red-600 !text-[20px] ">
                        category
                    </span>
                </div>
                <select class="selectGeneral4 !text-gray-500 !pl-10 !px-10">
                    <option selected disabled value="" class="!text-gray-400 ">Servicios
                    </option>
                    <option value="Marco Tandazo"> Marco Tandazo</option>
                    <option value="Juan Peña">Juan Peña</option>
                    <option value="Carlos Lopez">Carlos Lopez</option>
                    <option value="Celia Langañate">Celia Langañate</option>
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none">
                    <i class="ri-expand-up-down-line text-red-600 "></i>
                </div>
            </div>
            <div class="relative">
                <div class="absolute inset-y-0 left-0  flex items-center px-3 pointer-events-none">
                    <span class="material-symbols-outlined text-red-600 !text-[20px] ">
                        group
                    </span>
                </div>
                <select class="selectGeneral4 !text-gray-500 !pl-10 !px-10 ">
                    <option selected disabled value="" class="!text-gray-400 ">Personal
                    </option>
                    <option class="pr-10" value="Marco Tandazo"> Marco Tandazo</option>
                    <option value="Juan Peña">Juan Peña</option>
                    <option value="Carlos Lopez">Carlos Lopez</option>
                    <option value="Celia Langañate">Celia Langañate</option>
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none">
                    <i class="ri-expand-up-down-line text-red-600 "></i>
                </div>
            </div>

        </div>

        <div class="flex justify-start gap-5"> 
            <div class="flex items-center px-3 py-1 hover:bg-white hover:px-3 hover:py-1 hover:rounded-full font-medium cursor-pointer hover:shadow-md">
                <span class="material-symbols-outlined text-gray-500 !text-[20px] ">
                    category
                </span>
                <span class="text-sm text-gray-500 ml-1">
                    Conf. Servicio
                </span>
            </div>
            <div class="flex items-center px-3 py-1 hover:bg-white hover:px-3 hover:py-1 hover:rounded-full font-medium cursor-pointer hover:shadow-md" >
                <span class="material-symbols-outlined text-gray-500 !text-[20px] ">
                    group
                </span>
                <span class="text-sm text-gray-500 ml-1" >
                    Conf. Empleados
                </span>
            </div>

        </div>
    </div>

    <div class="w-full h-full bg-white  mt-5 rounded-lg shadow-sm  p-3" >
        <app-calendario-config-component></app-calendario-config-component>
    </div>

</div>