<div class=" w-full px-7 py-5 ">
    <div class="flex justify-between items-center ">
        <div class="p-1">
            <div class="title">
                <h1 class="text-sm"> Clientes /</h1>
                <h1 class="mt-4 font-semibold text-xl">Clientes</h1>
                <span class="text-xs">Gestiona la información de tus clientes</span>
            </div>
        </div>
        <div class="p-1 mt-13">
            <div class="flex justify-between ">
                <div class="flex items-center">
                    <div class="relative w-full">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <span class="material-symbols-outlined text-gray-400 ">
                                search
                            </span>
                        </div>
                        <input type="text"
                            class="inputGeneral4 !rounded-full  !w-full !pl-10 !px-30 !py-2.25 !focus:shadow-lg "
                            placeholder="¿Qué estás buscando?" required>
                    </div>

                    @if(flagFilters){
                    <a (click)="showFilters(false)"
                        class="group max-w-max relative mx-1 flex flex-col items-center justify-center p-1 text-gray-500 bg-white  hover:text-gray-600 relative cursor-pointer hover:bg-gray-100  hover:shadow-lg  p-1.75 rounded-full transition-colors">
                        <p class="text-xs text-center">
                            <span class="material-symbols-outlined">
                                tune
                            </span>
                        </p>
                        <div
                            class="pb-3 [transform:perspective(50px)_translateZ(0)_rotateX(10deg)] group-hover:[transform:perspective(0px)_translateZ(0)_rotateX(0deg)] absolute bottom-0 mb-6 origin-bottom transform rounded text-white opacity-0 transition-all duration-300 group-hover:opacity-100">
                            <div class="flex max-w-xs flex-col items-center">
                                <div class="rounded bg-gray-900 p-2 text-xs text-center shadow-lg">Filtros</div>
                                <div class="clip-bottom h-2 w-4 bg-gray-900"></div>
                            </div>
                        </div>
                    </a>
                    }@else{
                    <a (click)="showFilters(true)"
                        class="  transition transform effectoZoomBoton  group max-w-max relative mx-1 flex flex-col items-center justify-center p-1 text-gray-500 bg-white  hover:text-gray-600 relative cursor-pointer hover:bg-gray-100  hover:shadow-lg  p-1.75 rounded-full transition-colors">
                        <p class="text-xs text-center">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </p>
                        <div
                            class="pb-3 [transform:perspective(50px)_translateZ(0)_rotateX(10deg)] group-hover:[transform:perspective(0px)_translateZ(0)_rotateX(0deg)] absolute bottom-0 mb-6 origin-bottom transform rounded text-white opacity-0 transition-all duration-300 group-hover:opacity-100">
                            <div class="flex max-w-xs flex-col items-center">
                                <div class="rounded bg-gray-900 p-2 text-xs text-center shadow-lg">Filtros</div>
                                <div class="clip-bottom h-2 w-4 bg-gray-900"></div>
                            </div>
                        </div>
                    </a>
                    }

                </div>
                <button
                    class=" cursor-pointer py-1.75  ml-2 px-5 text-sm font-medium text-white bg-red-600 rounded-full  hover:bg-red-600  transition transform effectoZoomBoton  ">
                    <div class="flex justify-center items-center">
                        <i class="ri-add-line"></i> Nuevo Cliente
                    </div>
                </button>
            </div>

        </div>
    </div>

    <div class=" w-full mt-5 ">
        <!-- Tabla principal -->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 bg-white">
                <thead class="text-md text-gray-700  bg-gray-50 border-gray-200 border-b">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-medium">Nombre del cliente</th>
                        <th scope="col" class="px-6 py-3 font-medium">Cédula</th>
                        <th scope="col" class="px-6 py-3 font-medium">Teléfono</th>
                        <th scope="col" class="px-6 py-3 font-medium">Correo Electrónico</th>
                        <th scope="col" class="px-6 py-3 font-medium">Fecha de Cumpleaños</th>
                        <th scope="col" class="px-6 py-3 font-medium">Estado</th>
                        <th scope="col" class="px-6 py-3 font-medium "></th>
                    </tr>
                </thead>
                <tbody class="text-xs">
                    <!-- Fila 1 -->
                    @for(c of clientes?.data; track c){
                    <tr class="bg-white border-gray-200 border-b hover:bg-gray-50 transition-colors">
                        <td class="px-6 py-2 font-medium text-gray-900">
                            <div class="flex justify-start items-center">
                                <div class="w-6 h-6 shadow-sm rounded-full flex items-center justify-center "
                                    [ngStyle]="{'border':'1px solid '+getRandomColor(c.iniciales).border }"
                                    [style.background-color]="getRandomColor(c.iniciales).backgroundColor"
                                    [style.color]="getRandomColor(c.iniciales).color">
                                    <span class=" font-bold text-[11px]  bg-clip-text ">{{nameAvatar(c.nombre)}}</span>
                                </div>
                                <h5 class=" ml-1.5 text-xs  text-gray-500">
                                    {{c.nombre}}
                                </h5>
                            </div>
                        </td>
                        <td class="px-6 py-4 text-gray-600">{{c.documento}}</td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <i class="ri-phone-line mr-1"></i> {{c.telefono}}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <i class="ri-mail-line mr-1"></i>
                                {{c.email}}
                            </div>
                        </td>
                        <td class="px-6"> <i class="ri-calendar-line mr-1"></i>
                            {{c.fechaRegistro}}</td>
                        <td class="">
                            @if(c.estado=='Inactivo'){
                            <span
                                class="px-5  py-0.5 rounded-full bg-red-50 text-red-500  border-1  border-red-100 shadow-md ">
                                <i class="ri-close-circle-line "></i> {{c.estado}}
                            </span>
                            }@else{
                            <span
                                class="px-6  py-0.5 rounded-full bg-[#EBFCEB] border-1  border-green-100 shadow-md font-medium  text-[#60AD5E]">
                                <i class="ri-checkbox-circle-line "></i> {{c.estado}}
                            </span>
                            }
                        </td>
                        <td class=" py-0.5 flex justify-center items-center border-s-1 border-gray-200 ">
                            <div class="pt-2.5">

                                <i class="ri-pencil-line  text-xl mr-2"></i>
                                <i class="ri-delete-bin-6-line text-lg text-red-500 "></i>
                                <!-- <span class="material-symbols-outlined">
                                    edit
                                </span> -->
                                <!-- <span class="material-symbols-outlined">
                                    delete
                                </span> -->
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <div
            class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 mt-4 rounded-b-lg">
            <div class="flex flex-1 justify-between sm:hidden">
                <button
                    class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Anterior</button>
                <button
                    class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Siguiente</button>
            </div>
            <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                <div>
                    <p class="text-sm text-gray-700">
                        Mostrando <span class="font-medium">1</span> a <span
                            class="font-medium">{{clientes?.pagination?.pageSize}}</span> de
                        <span class="font-medium">{{clientes?.pagination?.totalItems}}</span> resultados
                    </p>
                </div>
                <div>

                    <div class="flex items-center justify-between ">
                        <button (click)="goToPreviousPage(clientes?.pagination, all_clientes)"
                            [disabled]="!clientes?.pagination?.hasPreviousPage"
                            [class]="!clientes?.pagination?.hasPreviousPage ? 
                                'flex items-center px-3 py-1 text-xs font-medium text-gray-300 cursor-not-allowed border-1  rounded-l-md ' : 
                                'flex items-center px-3 py-1 text-xs font-medium text-gray-600 hover:text-gray-700 transition-colors duration-200 rounded-l-md border-1 border-gray-300'"
                            type="button">
                            Previa
                        </button>
                        <button class="px-4 bg-gray-100 border-1 border-gray-300   ">
                            <span
                                class="text-sm font-semibold text-red-600">{{clientes?.pagination?.currentPage}}</span>
                            <span class="text-sm text-red-600">/</span>
                            <span class="text-sm font-medium text-red-600">{{clientes?.pagination?.totalPages}}</span>
                        </button>
                        <button (click)="goToNextPage(clientes?.pagination, all_clientes)"
                            [disabled]="!clientes?.pagination?.hasNextPage"
                            [class]="!clientes?.pagination?.hasNextPage ? 
                                'flex items-center px-2 py-1 text-xs font-medium text-gray-300 cursor-not-allowed rounded-r-md border-1 border-gray-300 ' : 
                                'flex items-center px-2 py-1 text-xs font-medium text-gray-600 hover:text-gray-700 transition-colors duration-200 rounded-r-md border-1 border-gray-300'"
                            type="button">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>