<div class=" w-full px-7 py-5 ">
    <div class="flex justify-between items-center ">
        <div class="p-1">
            <div class="title">
                <h1 class="text-sm"> Clientes /</h1>
                <h1 class="mt-4 font-semibold text-xl">Clientes</h1>
                <span class="text-xs">Gestiona la información de tus clientes</span>
            </div>
        </div>
        <div class="p-1 mt-13">
            <div class="flex justify-between ">
                <div class="flex items-center">
                    <div class="relative w-full">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <span class="material-symbols-outlined text-gray-400 ">
                                search
                            </span>
                        </div>
                        <input type="text"
                            class="inputGeneral4 !rounded-full  !w-full !pl-10 !px-30 !py-2.25 !focus:shadow-lg "
                            placeholder="¿Qué estás buscando?" required>
                    </div>

                    @if(flagFilters){
                    <a (click)="showFilters(false)"
                        class="group max-w-max relative mx-1 flex flex-col items-center justify-center p-1 text-gray-500 bg-white  hover:text-gray-600 relative cursor-pointer hover:bg-gray-100  hover:shadow-lg  p-1.75 rounded-full transition-colors">
                        <p class="text-xs text-center">
                            <span class="material-symbols-outlined">
                                tune
                            </span>
                        </p>
                        <div
                            class="pb-3 [transform:perspective(50px)_translateZ(0)_rotateX(10deg)] group-hover:[transform:perspective(0px)_translateZ(0)_rotateX(0deg)] absolute bottom-0 mb-6 origin-bottom transform rounded text-white opacity-0 transition-all duration-300 group-hover:opacity-100">
                            <div class="flex max-w-xs flex-col items-center">
                                <div class="rounded bg-gray-900 p-2 text-xs text-center shadow-lg">Filtros</div>
                                <div class="clip-bottom h-2 w-4 bg-gray-900"></div>
                            </div>
                        </div>
                    </a>
                    }@else{
                    <a (click)="showFilters(true)"
                        class="  transition transform effectoZoomBoton  group max-w-max relative mx-1 flex flex-col items-center justify-center p-1 text-gray-500 bg-white  hover:text-gray-600 relative cursor-pointer hover:bg-gray-100  hover:shadow-lg  p-1.75 rounded-full transition-colors">
                        <p class="text-xs text-center">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </p>
                        <div
                            class="pb-3 [transform:perspective(50px)_translateZ(0)_rotateX(10deg)] group-hover:[transform:perspective(0px)_translateZ(0)_rotateX(0deg)] absolute bottom-0 mb-6 origin-bottom transform rounded text-white opacity-0 transition-all duration-300 group-hover:opacity-100">
                            <div class="flex max-w-xs flex-col items-center">
                                <div class="rounded bg-gray-900 p-2 text-xs text-center shadow-lg">Filtros</div>
                                <div class="clip-bottom h-2 w-4 bg-gray-900"></div>
                            </div>
                        </div>
                    </a>
                    }

                </div>
                <button (click)="crearEditarClientes('create','','#modalCliente')"
                    class=" cursor-pointer transition transform effectoZoomBoton py-1.75  ml-2 px-5 text-sm font-medium text-white bg-red-600 rounded-full  hover:bg-red-600  transition transform effectoZoomBoton  ">
                    <div class="flex justify-center items-center">
                        <i class="ri-add-line"></i> Nuevo Cliente
                    </div>
                </button>
            </div>

        </div>
    </div>

    <div class=" w-full mt-5 ">
        <!-- Tabla principal -->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 bg-white">
                <thead class="text-md text-gray-700  bg-gray-50 border-gray-200 border-b">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-medium">Nombre del cliente</th>
                        <th scope="col" class="px-6 py-3 font-medium">Cédula</th>
                        <th scope="col" class="px-6 py-3 font-medium">Teléfono</th>
                        <th scope="col" class="px-6 py-3 font-medium">Correo Electrónico</th>
                        <th scope="col" class="px-6 py-3 font-medium">Fecha de Cumpleaños</th>
                        <th scope="col" class="px-6 py-3 font-medium">Estado</th>
                        <th scope="col" class="px-6 py-3 font-medium "></th>
                    </tr>
                </thead>
                <tbody class="text-xs">
                    <!-- Fila 1 -->
                    @for(c of clientes?.data; track c){
                    <tr class="bg-white border-gray-200 border-b hover:bg-gray-50 transition-colors">
                        <td class="px-6 py-2 font-medium text-gray-900">
                            <div class="flex justify-start items-center">
                                <div class="w-6 h-6 shadow-sm rounded-full flex items-center justify-center "
                                    [ngStyle]="{'border':'1px solid '+getRandomColor(c.iniciales).border }"
                                    [style.background-color]="getRandomColor(c.iniciales).backgroundColor"
                                    [style.color]="getRandomColor(c.iniciales).color">
                                    <span class=" font-bold text-[11px]  bg-clip-text ">{{nameAvatar(c.nombre)}}</span>
                                </div>
                                <h5 class=" ml-1.5 text-xs  text-gray-500">
                                    {{c.nombre}}
                                </h5>
                            </div>
                        </td>
                        <td class="px-6 py-4 text-gray-600">{{c.documento}}</td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <i class="ri-phone-line mr-1"></i> {{c.telefono}}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <i class="ri-mail-line mr-1"></i>
                                {{c.email}}
                            </div>
                        </td>
                        <td class="px-6"> <i class="ri-calendar-line mr-1"></i>
                            {{c.fechaRegistro}}</td>
                        <td class="">
                            @if(c.estado=='Inactivo'){
                            <span
                                class="px-5  py-0.5 rounded-full bg-red-50 text-red-500  border-1  border-red-100 shadow-md ">
                                <i class="ri-close-circle-line "></i> {{c.estado}}
                            </span>
                            }@else{
                            <span
                                class="px-6  py-0.5 rounded-full bg-[#EBFCEB] border-1  border-green-100 shadow-md font-medium  text-[#60AD5E]">
                                <i class="ri-checkbox-circle-line "></i> {{c.estado}}
                            </span>
                            }
                        </td>
                        <td class=" 2xl:px-2 px-5 py-0.5 flex justify-center items-center border-s-1 border-gray-200 ">
                            <div class="pt-2.5">

                                <button data-tooltip="Editar" (click)="crearEditarClientes('edit',c,'#modalCliente')"
                                    class=" tooltip-btn tooltip-top btn-effect cursor-pointer transition transform effectoZoomBoton  ">
                                    <i class=" ri-pencil-line  text-xl mr-2"></i>
                                </button>

                                <button data-tooltip="Eliminar" (click)="deleteModal('cliente', c, '#modalEliminar')"
                                    class=" tooltip-btn tooltip-top btn-effect cursor-pointer transition transform effectoZoomBoton">
                                    <i class="  ri-delete-bin-6-line text-lg text-red-500 "></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <div
            class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 mt-4 rounded-b-lg">
            <div class="flex flex-1 justify-between sm:hidden">
                <button
                    class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Anterior</button>
                <button
                    class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Siguiente</button>
            </div>
            <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                <div>
                    <p class="text-sm text-gray-700">
                        Mostrando <span class="font-medium">1</span> a <span
                            class="font-medium">{{clientes?.pagination?.pageSize}}</span> de
                        <span class="font-medium">{{clientes?.pagination?.totalItems}}</span> resultados
                    </p>
                </div>
                <div>

                    <div class="flex items-center justify-between ">
                        <button (click)="goToPreviousPage(clientes?.pagination, all_clientes)"
                            [disabled]="!clientes?.pagination?.hasPreviousPage"
                            [class]="!clientes?.pagination?.hasPreviousPage ? 
                                'flex items-center px-3 py-1 text-xs font-medium text-gray-300 cursor-not-allowed border-1  rounded-l-md ' : 
                                'flex items-center px-3 py-1 text-xs font-medium text-gray-600 hover:text-gray-700 transition-colors duration-200 rounded-l-md border-1 border-gray-300'"
                            type="button">
                            Previa
                        </button>
                        <button class="px-4 bg-gray-100 border-1 border-gray-300   ">
                            <span
                                class="text-sm font-semibold text-red-600">{{clientes?.pagination?.currentPage}}</span>
                            <span class="text-sm text-red-600">/</span>
                            <span class="text-sm font-medium text-red-600">{{clientes?.pagination?.totalPages}}</span>
                        </button>
                        <button (click)="goToNextPage(clientes?.pagination, all_clientes)"
                            [disabled]="!clientes?.pagination?.hasNextPage"
                            [class]="!clientes?.pagination?.hasNextPage ? 
                                'flex items-center px-2 py-1 text-xs font-medium text-gray-300 cursor-not-allowed rounded-r-md border-1 border-gray-300 ' : 
                                'flex items-center px-2 py-1 text-xs font-medium text-gray-600 hover:text-gray-700 transition-colors duration-200 rounded-r-md border-1 border-gray-300'"
                            type="button">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Main modal -->
<div id="modalCliente" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm ">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-lg font-semibold text-gray-600 ">
                    Agregar Cliente
                </h3>
                <button type="button" (click)="closeModal()"
                    class="absolute mt-1.5 top-3 end-2.5 text-gray-500 bg-transparent hover:bg-gray-200 hover:text-gray-400 rounded-full text-sm w-8 h-8 ms-auto inline-flex justify-center items-center ">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->

            <div class="px-4 md:p-5">
                @if(formCliente ){
                <form [formGroup]="formCliente">
                    <div class="grid gap-4 mb-4 grid-cols-1">

                        <div>
                            <div class="mt-4">
                                <label class="labelGeneral3">Nombres *</label>
                                <div class="relative">
                                    <input formControlName="nombres" class="selectGeneral4 !text-gray-500"
                                        placeholder="Ej. Luis">
                                </div>
                            </div>
                            <div class="mt-4">
                                <label class="labelGeneral3">Apellidos *</label>
                                <div class="relative">
                                    <input formControlName="apellidos" class="selectGeneral4 !text-gray-500"
                                        placeholder="Ej. Cordero">
                                </div>
                            </div>
                            <div class="mt-4">
                                <label class="labelGeneral3">Cédula *</label>
                                <div class="relative">
                                    <input formControlName="cedula" class="selectGeneral4 !text-gray-500"
                                        placeholder="1104XXXXXX">
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="relative">
                                    @if(typeC=='create'){
                                    <app-input-phone-component [tipo]="'Teléfono'"
                                        [phone]="''"></app-input-phone-component>
                                    }@else{
                                    <app-input-phone-component [tipo]="'Teléfono'"
                                        [phone]="formCliente.controls['telefono'].value"></app-input-phone-component>

                                    }
                                </div>
                            </div>

                            <div class="mt-4">
                                <label for="servicio" class="pb-1 block text-xs font-medium text-gray-500 ">
                                    Correo electrónico *
                                </label>
                                <div class="relative">

                                    <div class="absolute inset-y-0 left-0 flex items-center px-1 pointer-events-none">
                                        <span class="material-symbols-outlined text-red-500  ml-1 !text-[20px]  pb-0.5">
                                            mail
                                        </span>
                                    </div>
                                    <input formControlName="correo" class="inputGeneral4 !pl-9 "
                                        placeholder="corre@prueba.com" type="text">

                                </div>
                            </div>
                            <div class="mt-4">
                                <label for="servicio" class="pb-1 block text-xs font-medium text-gray-500 ">
                                    Fecha de Cumpleaños *
                                </label>
                                <div class="relative">

                                    <div class="absolute inset-y-0 left-0 flex items-center px-1 pointer-events-none">
                                        <span class="material-symbols-outlined text-red-500  ml-1 !text-[20px]  pb-0.5">
                                            calendar_today
                                        </span>
                                    </div>
                                    <input formControlName="nacimiento" class="inputGeneral4 !pl-9 "
                                        placeholder="corre@prueba.com" type="date">

                                </div>
                            </div>
                        </div>


                        <div>
                            <div class="bg-white rounded-lg  border border-gray-300 px-5 py-4">

                                <div class="flex justify-between items-center gap-4">
                                    <label class="text-xs font-medium text-gray-600">Estado:</label>
                                    @if(typeC=='create'){
                                    <div class="flex items-center">
                                        <div
                                            class="flex items-center px-3 py-1.5 rounded-l-full  border border-gray-300">
                                            <input name="estado1" type="radio" [value]="1" checked
                                                class=" checkbox-red w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 focus:ring-2">
                                            <label for="activo1" class="ml-2 text-xs text-gray-600">Activo</label>
                                        </div>

                                        <div
                                            class="flex items-center px-3 py-1.5 rounded-r-full  border border-gray-200">
                                            <input name="estado1" type="radio" [value]="0" disabled
                                                class=" checkbox-red w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 focus:ring-2">
                                            <label for="inactivo1" class="ml-2 text-xs text-gray-600">Inactivo</label>
                                        </div>
                                    </div>

                                    }@else{
                                    <div class="flex items-center">
                                        <div
                                            class="flex items-center px-3 py-1.5 rounded-l-full  border border-gray-300">
                                            <input name="estado1" type="radio" [value]="1" checked
                                                class=" checkbox-red w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 focus:ring-2">
                                            <label for="activo1" class="ml-2 text-xs text-gray-600">Activo</label>
                                        </div>

                                        <div
                                            class="flex items-center px-3 py-1.5 rounded-r-full  border border-gray-200">
                                            <input name="estado1" type="radio" [value]="0"
                                                class=" checkbox-red w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 focus:ring-2">
                                            <label for="inactivo1" class="ml-2 text-xs text-gray-600">Inactivo</label>
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="mt-4">

                            <div class="flex justify-end space-x-2 pt-7 mb-2 ">
                                <button (click)="closeModal()" type="button" class=" btnGrayGeneral effectoZoomBoton">
                                    <div class="flex justify-center items-center  ">
                                        <i class="ri-close-circle-line mr-1 text-red-600 text-xl"></i>
                                        Cancelar
                                    </div>
                                </button>

                                <button class="btnRedGeneral effectoZoomBoton">
                                    <div class="flex justify-center items-center  ">
                                        <i class="ri-save-2-fill mr-1 text-lg "></i>
                                        Crear Cliente

                                    </div>
                                </button>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </form>
                }

            </div>


        </div>
    </div>
</div>

    <!-- Modal Eliminar Cliente -->
    <div id="modalEliminar" tabindex="-1"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow-sm ">
                <div class="p-4 md:p-5 text-center">
                    <span class="material-symbols-rounded !text-8xl text-gray-200">
                        delete_forever
                    </span>
                    <h3 class="mb-5 text-md font-normal text-gray-500 dark:text-gray-400">¿Estás seguro de eliminar
                        <strong>
                            {{clienteSelected?.nombre}}</strong>?
                    </h3>
                    <div class="flex justify-center py-3">
                        <button (click)="closeModal()"
                            class="btnGrayGeneral effectoZoomBoton  mr-2 flex items-center "><i
                                class="ri-close-circle-line  text-xl mr-1 "></i> No,
                            cancelar</button>
                        <button (click)="closeModal()" class="btnRedGeneral effectoZoomBoton flex items-center  ">
                            <i class="ri-check-line text-xl mr-1"></i> Si, eliminar
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
