<div class="h-full w-full bg-white relative flex overflow-hidden">
    <div
        class="flex flex-col items-center 2xl:w-[15%] xl:w-[15%] lg:w-[7%]  h-full overflow-hidden text-gray-500 bg-white border-e-1  border-gray-200  transition duration-300 ease-in-out">
        <div class="w-full px-2">
            <div class="flex flex-col items-center w-full mt-1 ">
                <a [routerLink]="['/administrador/reportes']" routerLinkActive="router-link-active3"
                    [routerLinkActiveOptions]="{ exact: true }" #rlD="routerLinkActive"
                    class=" border-b border-gray-200  flex items-center w-full h-10 px-3 mt-2 hover:bg-gray-100 hover:rounded-full">
                    @if(rlD.isActive){
                    <span class="material-symbols-rounded">
                        insert_chart
                    </span>

                    }@else{
                    <span class="material-symbols-outlined">
                        insert_chart
                    </span>
                    }
                    <span
                        class="ml-2 text-sm font-medium 2xl:block xl:block lg:hidden md:hidden hidden">Dashboard</span>
                </a>

                <a [routerLink]="['/administrador/reportes/citas_servicios']" routerLinkActive="router-link-active3"
                    [routerLinkActiveOptions]="{ exact: true }" #rlCS="routerLinkActive"
                    class="flex items-center w-full h-10 px-3 mt-2  hover:bg-gray-100 hover:rounded-full">
                    @if(rlCS.isActive){
                    <span class="material-symbols-rounded ">
                        assignment_turned_in
                    </span>
                    }@else{
                    <span class="material-symbols-outlined ">
                        assignment_turned_in
                    </span>
                    }

                    <span class="ml-2 text-sm font-medium 2xl:block xl:block lg:hidden md:hidden hidden">Citas por
                        servicio</span>
                </a>

                <a [routerLink]="['/administrador/reportes/citas_especialista']" routerLinkActive="router-link-active3"
                    [routerLinkActiveOptions]="{ exact: true }" #rlCE="routerLinkActive"
                    class="flex items-center w-full h-10 px-3 mt-2 hover:bg-gray-100 hover:rounded-full  ">

                    @if(rlCE.isActive){
                    <span class="material-symbols-rounded">
                        clinical_notes
                    </span>
                    }@else{
                    <span class="material-symbols-outlined">
                        clinical_notes
                    </span>
                    }
                    <span class="ml-2 text-sm font-medium 2xl:block xl:block lg:hidden md:hidden hidden">Citas por
                        especialista</span>
                </a>

                <a [routerLink]="['/administrador/reportes/citas_clientes']" routerLinkActive="router-link-active3"
                    [routerLinkActiveOptions]="{ exact: true }" #rlCC="routerLinkActive"
                    class="flex items-center w-full h-10 px-3 mt-2 hover:rounded-full hover:bg-gray-100">

                    @if(rlCC.isActive){
                    <span class="material-symbols-rounded ">
                        co_present
                    </span>
                    }@else{
                    <span class="material-symbols-outlined ">
                        co_present
                    </span>
                    }
                    <span class="ml-2 text-sm font-medium 2xl:block xl:block lg:hidden md:hidden hidden">Citas por
                        clientes</span>
                </a>
            </div>


        </div>

    </div>

    <div class="w-full h-full flex flex-col  ">
        <main class="h-screen w-full flex flex-col overflow-hidden    bg-gray-100 overflow-y-hidden ">
            <div class="flex-2 overflow-auto h-full ">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>