.classActive{
    background-color: #E02424;
    color: white;
        border: 1px #E5E7EB solid;

    // box-shadow: #cfcfcf 0px 1px 0px 1px;
}
.classInActive{
    background-color: white;
    color: #4B5563;
    border: 1px #E5E7EB solid;
}